{% extends 'forms_app/index.html' %}

{%block jumbo_content %}
<h1> Here's the Deal</h1>
<p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores dolorem exercitationem, impedit incidunt inventore labore laborum libero nulla tenetur, velit veritatis voluptas voluptates. Architecto beatae debitis quam tempore voluptatibus.</p>
<p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores dolorem exercitationem, impedit incidunt inventore labore laborum libero nulla tenetur, velit veritatis voluptas voluptates. Architecto beatae debitis quam tempore voluptatibus.</p>
<p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores dolorem exercitationem, impedit incidunt inventore labore laborum libero nulla tenetur, velit veritatis voluptas voluptates. Architecto beatae debitis quam tempore voluptatibus.</p>
<p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores dolorem exercitationem, impedit incidunt inventore labore laborum libero nulla tenetur, velit veritatis voluptas voluptates. Architecto beatae debitis quam tempore voluptatibus.</p>
{% endblock %}